
/* .cursor {
  background: url("curse.png")
} */



body, html {
  height: 100%;
  overflow: hidden;
}


body {
  padding-right: 20px;
  background-position: center;
  background-image: url('images/stage.png');
  background-size: cover;
  cursor: url('images/crosshair.png') 32 32, crosshair;
  color: white;
}
a {
  text-decoration: inherit;
  color: inherit;
}
body:after {
display:inline-block;
padding-bottom: 10px;
content: '';
background-image: url('images/grass2.png');
background-size: cover;
position: absolute;
bottom: 0;
width: 100%;
height: 175px;
}

.title {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 2em;
  font-family: Tahoma, Geneva, sans-serif;
}

/* #status {
  position: center;
  top: 10px;
  left: 30px;
  font-size: 2em;
  font-family: Tahoma, Geneva, sans-serif;
} */

.status {
  position: absolute;
  top: 10px;
  right:700px;
  font-size: 2em;
  font-family: Tahoma, Geneva, sans-serif;
}
.timer {
  position: absolute;
  top: 10px;
  right:320px;
  font-size: 2em;
  font-family: Tahoma, Geneva, sans-serif;
}

.score {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 2em;
  font-family: Tahoma, Geneva, sans-serif;
}


.duck {
  position: absolute;
  width: 110px;
  height: 115px;
  /* background-image: url("images/duckhunt.png"); */
  background: no-repeat;
  bottom: 0;
  /* animation-name: duck;
  animation-duration: 5.0s; */
  transition: left, top, right, bottom;
  transition-duration: 1s;
  transition-timing-function: linear;

}

.doglaugh {
  position: absolute;
  background-image: url('images/doglaugh.png');
  width: 130px;
  height: 165px;
  top: 300px;
  left: 300px;
  animation: dogUp 3s linear;
  animation-fill-mode: forwards;
}

.duck.right {
  background-image: url("images/duckhunt.png");
  background-position: -200px -160px;
}
.duck.right.flap {
  /* z-index: -1; */
  /* background-image: url("images/duckhunt.png"); */
  background-position: -300px -160px;
}
.duck.left {
  /* z-index: -1; */
  background-image: url("images/duckhunt.png");
  background-position: -100px -160px;
}
.duck.left.flap {
  /* z-index: -1; */
  /* background-image: url("images/duckhunt.png"); */
  background-position: -430px -160px;
}

.duck.shot {
  z-index: -1;
  background-image: url('images/shot.png');
}

@keyframes duck {
  0% {
    left: -100px;
    top: 0px;
  }
  25% {
    left: 280px;
    top: 100px;
  }
  50% {
    left: 480px;
    top: 200px;
  }
  75% {
    left: 980px;
    top: 300px;
  }
  100% {
    left: 1280px;
    top: 400px;
  }
}

@keyframes dogUp {
  0% {
    transform: translateY(300px);
  }

  40% {
    transform: translateY(120px);
  }
  70% {
    transform: translateY(120px);
  }

  100% {
    transform: translateY(400px);
    overflow: hidden;
    visibility: hidden;
  }
}
