#dog {
  position: absolute;
  background: url('images/dogwalk.png');
  top: 520px;
  width: 182px;
  height: 171px;
  animation: walk 2s steps(5) 1.9, dogMove 3.8s linear;
  animation-fill-mode: forwards;
}

@keyframes walk {
  0% {
    background-position: 910px;
  }
  100% {
    background-position: 0px;


  }
}

@keyframes dogMove {
  0% {
    transform: translateX(-100px);
  }
  10% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(300px);
    overflow: hidden;
  }

}
/* #dog {
  position: absolute;
  z-index: -1;
  background: url('images/dog.png');
  top: 520px;
  width: 175px;
  height: 171px;
  animation: walk 3s steps(6), dogMove 3s linear;
  animation-fill-mode: forwards;
}

@keyframes walk {
  0% {
    background-position: 1020px;
  }

  100% {
    background-position: 0px;


  }
}

@keyframes dogMove {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(300px);
    overflow: hidden;
    visibility: hidden;
  }

} */
