.btnclicked {
  padding: 50px;
  background-color: orange;
}


#div1 {
  padding: 50px;
  background-color: gainsboro;
}

#div2 {
  padding: 50px;
  background-color: #ccbbee;
}

#div3 {
  padding: 50px;
  background-color: #aaddff;
}
