<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sparta Blogs</title>
  </head>
  <body>
      <%= erb :"partials/nav" %>
    <!-- if you want to appear on page put = , if not dont put =-->
      <%= yield %>
  </body>
</html>
