<nav>
  <a href="/">Home</a>
  <a href="/new">New Fruit or Veg</a>
  <a href="/:id">Dynamic</a>
</nav>
<h1>Welcome to Sparta Fruit Blogs</h1>

<% @posts.each do |post| %>
  <div class="">
    <h3><a href="/<%= post[:id]%>"><%=post[:title]%></a></h3>
    <p><%= post[:body]%></p>
  </div>
<% end %>
